.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

main {
  flex: 1;
}
